/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER  */
.header {
    background-color: #add8e6;
    height: 60px;
}

.header-section {
    padding: 10px;
}

.row {
    background-color: #daa520;
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* MAIN  */

.first-section {
    background-color: #00008b;
    height: 400px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: #9C27B0;
}

.second-section.fourth-section {
    background-color: #ffffff;
    height: 400px;
}


.row-1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    border: 2px dashed green;
    min-height: 300px;
}

.col-70 {
    width: 70%;
    background-color: #1e90ff;
}

.col-30 {
    width: 30%;
    background-color: #ffc0cb;
}

.third-section {
    background-color: #d3d3d3;
}

.fifth-section {
    background-color:#d3d3d3;
    height: 800px;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    border: 2px solid green;
    min-height: 800px;
}

.col-100 {
    width: 100%;
    background-color: #4CAF50;
}

/* FOOTER */
.footer-section {
    background-color: #23272a;
}

.col-40 {
    width: 40%;
    background-color: #f08080;
}

.col-15 {
    width: 15%;
    background-color: #20b2aa;
}

.row-3 {
    background-color:#7fffd4;
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.end-footer {
    height: 60px;
    background-color: #23272a;
}

.ended-logo {
    background-color: #ffb6c1;
}

.ended-login {
    background-color: #ffb6c1;
}