/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER  */
.header {
    background-color: #add8e6;
    height: 60px;
}

.header-section {
    padding: 10px;
}

.row {
    background-color: #daa520;
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* MAIN  */

.first-section {
    background-color: #00008b;
    height: 400px;
}

.second-section.4th-section {
    background-color: #ffffff;
    height: 400px;
}


.row-1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    border: 2px solid green;
    min-height: 300px;
}

.col-70 {
    width: 70%;
    background-color: #1e90ff;
}

.col-30 {
    width: 30%;
    background-color: #ffc0cb;
}

.third-section {
    background-color: #d3d3d3;
}